<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /legal_stg/user-portal/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /legal_stg/user-portal/index.html [L]
</IfModule>
